@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your CSS or SCSS file */
a::after {
  content: "";
  display: block;
  width: 0; /* Initially, set width to 0 */
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the animation */
  transform: translateX(-50%); /* Center the animation */
  transition: width 0.3s ease; /* Add a transition for smooth movement */
}

.active::after {
  width: 100%; /* Set width to 100% for the active link */
}
