@tailwind base;
@tailwind components;
@tailwind utilities;

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;

  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.active::after {
  width: 100%;
}
@media (max-width: 639px) {
  a::after {
    top: -9px;
    bottom: auto;
  }
}
